table,
td {
    text-align: center;
    border: 1px solid #333;
}

table,
th {
    text-align: center;
    border: 1px solid #333;
}

table {
    margin-left:30%; 
    margin-right:10%;
}

@media screen and (max-width: 440px) {
    table {
        margin-top: 170px;
    }
}

@media screen and (min-width: 441px) {
    table {
        margin-top: 130px;
    }
}

.column-highlighter {
    background-color: rgb(136, 197, 57);
    font-size: larger
}
