table,
td {
    text-align: center;
    border: 1px solid #333;
}

table,
th {
    text-align: center;
    border: 1px solid #333;
}

#country {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #1c1259;
}

#time {
    font-size: 30px;
    font-family: 'Indie Flower', Arial, Helvetica, sans-serif;
    color: #1c1259;
}

.flag {
    width: 80px;
    height: 60px;
}

#button {
    background-color: #ee4266;
    color: #fcd307;
}

#button-wrapper {
    display: block;
    text-align: center;
}

#time-display {
    position:relative;
    left:18%;
    margin-top:10%;
}